body {
    background-color: #f9f9ff;
    font-family: 'Montserrat', sans-serif;
}

.site-header {
    width: 100%;
    height: 66vh;
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgba(255, 191, 0, 0.35), rgba(0, 65, 135, 0.75)),url('./img/1111.jpeg');  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,rgba(255, 191, 0, 0.55), rgba(0, 65, 135, 0.90)),url('./img/portada.jpg'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

@media (min-width: 768px) {
    .site-header {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    }
}

.contenido {
    height: 100%;
}

h1 {
    font-size: 2.8rem;
    color: white;
    font-weight: 900;
}

h2 {
    color: #004287;
}

h4 {
    color: #ffd659;
}


hr {
    width: 80%;
    background-color: #FFC000;
    border: 2px solid #FFC000;
}

p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.6;
}

li {
    font-size: 1.2rem;
}

a {
    text-decoration: none !important;
}

.virgen-nina {
    color: #ffd966;
}

.epdb {
    color: cornflowerblue;
}

.texto-inicial {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
}


.header-contenido {
    width: 100%;
    margin: 0;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 1rem;
    margin-bottom: 3rem;
}


@media (min-width: 800px) {
    .header-contenido {
        width: 50%;
        /* margin: 0 auto; */
    }
}

.rectangulo {
    width: 100%;
    height: 81px;
}


.enlaces a {
    font-size: 1.1rem;
}

.imagen-descripcion {
    border-radius: 15px;
}

.programa .card {
    color: black;
    min-height: 400px;
    transition: all .7s ease;
    position: relative;
}

.programa .card-image {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
}

.programa .card-image img {
    object-fit: cover;
    height: 100%;
}

.programa .card-body {
    position: absolute;
    height: 20%;
    bottom: 0;
    left: 0;
}

.programa .card-body .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.programa .card-body .content p {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .programa .card {
        min-height: 300px;
    }
}

.card {
    min-height: 500px;
    transition: all .7s ease;
    position: relative;
}

.card:hover {
    color: #0063ce;
    transform: scale(1.06);
}

.card-image {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
}

.card-image img{
    object-fit: cover;
    height: 100%;
}

.card-body {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
}

.card-body .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    .card {
        min-height: 400px;
    }
    
    .card-image {
        height: 60%;
    }
    
    .card-body {
        height: 40%;
    }
}


.seccion {
    min-height: 540px;
}

.contenedor-mapa {
    width: 100%;
    height: 300px;
}
.leaflet-container {
    width: 100%;
    height: 100%;
}


.mensaje {
    font-size: 2rem;
    color: #004287;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}

.anuncio {
    margin-top: 2rem;
    width: 100%;
    height: 50vh;
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgba(255, 191, 0, 0.45), rgba(0, 65, 135, 0.7)),url('./img/7.jpeg');  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,rgba(255, 191, 0, 0.45), rgba(0, 65, 135, 0.7)),url('./img/7.jpeg'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center center;
    /* background-size: cover; */
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 90%);
}


@media (min-width: 768px) {

    .anuncio {
        clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 75%);
    }
}

.plantel-texto {
    font-size: 1.3rem;
    text-align: center;
}

@media (min-width: 768px) {
    .plantel-texto {
        font-size: 1rem;
    }
}

.guindo {
    color: #881010;
}

.contactos {
    color: #77cbff;
}

.redes-sociales {
    width: 45px;
}
